{{createDog}}
<h2>"{{queryString}}" has been added to the array.</h2>
<h4>Its color is {{queryStringTwo}}. Is it local?: {{queryStringThree}}</h4>
<h4> Go to the <a href="/get">Get</a>
 page to see this as well as the other contents of the array.</h4>



