
    {{#if queryString}}
    <h2> "{{queryString}}" has been successfully deleted.</h2>
<h4> Go to the <a href="/get">Get</a>
 page to see the remaining contents of the array.</h4>
{{else}}
It appears that your request was unsucessful.
    {{/if}}
